<div class="slide-timeline">
  <div class="slide-timeline__step">
    <div class="slide-timeline__dot slide-timeline__dot--danger"></div>
    <div class="slide-timeline__label">Incident<br>happens</div>
  </div>
  <div class="slide-timeline__step">
    <div class="slide-timeline__dot"></div>
    <div class="slide-timeline__label">Campaign<br>IOC published</div>
    <div class="slide-timeline__duration">+2–5 days</div>
  </div>
  <div class="slide-timeline__step">
    <div class="slide-timeline__dot"></div>
    <div class="slide-timeline__label">IOC ingested<br>by feed</div>
    <div class="slide-timeline__duration">+hours</div>
  </div>
  <div class="slide-timeline__step">
    <div class="slide-timeline__dot slide-timeline__dot--warn"></div>
    <div class="slide-timeline__label">SIEM match<br>fires</div>
    <div class="slide-timeline__duration">+hours</div>
  </div>
  <div class="slide-timeline__step">
    <div class="slide-timeline__dot"></div>
    <div class="slide-timeline__label">Attacker<br>rotates infra</div>
    <div class="slide-timeline__duration">same day</div>
  </div>
</div>
